<template>
  <div class="commodity-cat">
    <bread-crumb parent="商品管理" children="商品分类"></bread-crumb>
    <el-button type="success" plain style="margin: 15px 0;" @click="addcat">添加分类</el-button>
    <el-table
      :data="tableData.result"
      style="width: 100%;height: 450px;overflow-y:auto"
      row-key="cat_id"
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      >
      <el-table-column prop="cat_name" label="分类名称" width="140"></el-table-column>

      <el-table-column prop="cat_level" label="级别" width="180">
        <template scope="scope">{{ scope.row.cat_level | jb }}</template>
      </el-table-column>
      <el-table-column prop="cat_deleted" label="是否有效" width="180">有效</el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" @click="handleClassList(scope.row)">
            <i class="el-icon-edit"></i>
          </el-button>
          <el-button size="mini" type="danger" @click="deleteClassList(scope.row.cat_id)" plain>
            <i class="el-icon-delete"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[5, 10, 15, 20]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.total"
    ></el-pagination>

    <el-dialog title="收货地址" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="分类名称">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="分类">
          <el-cascader :options="options" :props="props" @change="handleChange"></el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleAddlist">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="修改商品分类"  :visible.sync="dialogVisible">
      <el-form >
        <el-form-item :model="hadForm" label="分类名称">
          <el-input v-model="hadForm.catName"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary"  @click="changeClassCat">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import BreadCrumb from "../../components/BreadCrumb";
import {
  getGoodsCat,
  getGoodsCategories2,
  addCategories,
  deleteClassList,
  handleClassCat
} from "../../http/apis";
export default {
  name: "commodity-cat",
  components: {
    BreadCrumb
  },
  data() {
    return {
      tableData: [],
      params: {
        type: 3,
        pagenum: 1,
        pagesize: 5
      },
      dialogFormVisible: false,
      form: {
        name: "",
        region: ""
      },
      dialogVisible: false,
      hadForm: {
        catid: '',
        catName: '',
      },
      
      options: [],
      props: {
        expandTrigger: "hover",
        value: "cat_id",
        label: "cat_name",
        checkStrictly: true
      },
      obj: {
        cat_pid:'',
        cat_name: '',
        cat_level: ''
      }
    };
  },
  methods: {
    async getGoodsCat() {
      this.tableData = await getGoodsCat(this.params);
    },
    //获取分类列表2级
    async getGoodsCategories2() {
      this.options = await getGoodsCategories2();
    },
    //添加分类列表
    async addCategories() {
      await addCategories(this.obj);
      this.getGoodsCat();
    },
    //删除分类列表
    deleteClassList(id) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(async () => {
          await deleteClassList(id)
          this.getGoodsCat();
          this.$message({
            type: "success",
            message: "删除成功!"
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //编辑提交分类
    async handleClassCat() {
      await handleClassCat(this.hadForm)
      this.getGoodsCat();
    },
    handleSizeChange(val) {
      this.params.pagesize = val;
      this.getGoodsCat();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getGoodsCat();
    },
    addcat() {
      this.getGoodsCategories2();
      this.dialogFormVisible = true;
    },
    handleAddlist() {
      this.obj.cat_name = this.form .name
      this.dialogFormVisible = false
      this.addCategories()
    },
    handleChange(val) {
      
      if(val.length == 1) {
        this.obj.cat_level = 1
        this.obj.cat_pid = val[0]
      }else if(val.length == 2) {
        this.obj.cat_level = 2;
        this.obj.cat_pid = val[1]
      }
    },
    handleClassList(obj) {
        this.hadForm.catid = obj.cat_id
        this.hadForm.catName = obj.cat_name
        this.dialogVisible = true
    },
    changeClassCat() {
      this.dialogVisible = false
      this.handleClassCat()
    }
  },
  created() {
    this.getGoodsCat();
  },
  watch: {
    
  }
};
</script>
<style lang="scss">
.commodity-cat {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .el-cascader-panel .el-radio {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .el-cascader-panel .el-radio__input {
    visibility: hidden;
  }
  .el-cascader-panel .el-cascader-node__postfix {
    top: 10px;
  }
}
</style>