<template>
  <div class="goods-add">
    <bread-crumb parent="商品管理" children="商品列表"></bread-crumb>
    <el-alert style="margin-top:15px" title="添加商品信息" type="info" center show-icon :closable="false"></el-alert>
    <el-row style="text-align:center;margin:10px 0">
      <el-steps :active="+index" align-center finish-status="success">
        <el-step :title="item.name" v-for="item in steps" :key="item.name"></el-step>
      </el-steps>
    </el-row>

    <el-tabs tab-position="left" v-model="index">
      <el-tab-pane
        :name="''+(index+1)"
        v-for="(item,index) in steps"
        :key="item.name"
        :label="item.name"
      >
        <template v-if="item.name==='基本信息'">
          <el-form ref="form" label-width="100px" class="demo-ruleForm">
            <el-form-item label="商品名称">
              <el-input v-model="params.goods_name"></el-input>
            </el-form-item>
            <el-form-item label="商品价格">
              <el-input v-model="params.goods_price"></el-input>
            </el-form-item>
            <el-form-item label="商品重量">
              <el-input v-model="params.goods_weight"></el-input>
            </el-form-item>
            <el-form-item label="商品数量">
              <el-input v-model="params.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类" v-if="!id">
              <el-cascader
                v-model="params.goods_cat"
                :options="options"
                :props="props"
                @change="handleChange"
              ></el-cascader>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name==='商品参数'">
          <el-form ref="form" label-position="top" label-width="100px" class="demo-ruleForm">
            <el-form-item :label="item.attr_name" v-for="item in params.attrs" :key="item.attr_id">
              <el-checkbox
                v-for="(_item, _index) in attr_vals(item.attr_vals)"
                :key="_index"
                size="small"
                checked
                @click="handleAttrs"
                :label="_item"
                border
              ></el-checkbox>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name==='商品属性'">
          <el-form ref="form" label-width="100px" class="demo-ruleForm">
            <el-form-item v-for="item in params._attrs" :key="item.attr_id" :label="item.attr_name">
              <el-input v-model="item.attr_vals"></el-input>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name==='商品图片'">
          <el-upload
            class="upload-demo"
            :headers="headers"
            :action='baseUrl+"upload"'
            :on-remove="handleRemove"
            :on-success="handleSuccess"
            list-type="picture"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </template>
        <template v-if="item.name==='商品内容'">
          <el-button @click.native="addGoods">添加商品</el-button>
          <quill-editor v-model="params.goods_introduce" ref="myQuillEditor"></quill-editor>
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";
import BreadCrumb from "../../components/BreadCrumb";
import { _baseUrl } from "../../http/index";
import {
  getGoodsCategories,
  getGoodsAttrs,
  addGoods,
  getGoodsDetails,
  editGoods
} from "../../http/apis";
export default {
  name: "goods-add",
  components: {
    BreadCrumb,
    quillEditor
  },
  props: ["id"],
  data() {
    return {
      steps: [
        {
          name: "基本信息"
        },
        {
          name: "商品参数"
        },
        {
          name: "商品属性"
        },
        {
          name: "商品图片"
        },
        {
          name: "商品内容"
        }
      ],
      index: "1",
      options: [],
      props: {
        expandTrigger: "hover",
        value: "cat_id",
        label: "cat_name"
      },
      params: {
        goods_cat: [],
        goods_name: "",
        goods_price: "",
        goods_number: "",
        goods_weight: "",
        goods_introduce: "",
        pics: [],
        attrs: [],
        _attrs: []
      },
      headers: {
        Authorization: this.$store.state.token
      },
      baseUrl: _baseUrl
    };
  },
  async created() {
    await this.getGoodsCategories();
    if (this.id) {
      this.getGoodsDetails();
    }
  },
  methods: {
    async getGoodsCategories() {
      this.options = await getGoodsCategories();
    },
    async getGoodsAttrs(sel) {
      return await getGoodsAttrs(
        this.params.goods_cat[this.params.goods_cat.length - 1],
        sel
      );
    },
    handleChange() {},
    handleAttrs(index, _index) {
      let attr_vals = this.params.attrs[index].attr_vals.split(",");
      attr_vals.splice(_index, 1);
      this.params.attrs[index].attr_vals = attr_vals.join();
    },
    attr_vals(arr) {
      return arr.split(",");
    },
    handleSuccess(res) {
      const {
        data: { tmp_path }
      } = res;
      this.params.pics.push({
        pic: tmp_path
      });
    },
    handleRemove(file, fileList) {
      const index = this.params.pics.findIndex(item => {
        return item.pic === file.response.data.tmp_path;
      });
      this.params.pics.splice(index, 1);
    },
    async addGoods() {
      const data = Object.assign(this.params, {
        goods_cat: this.params.goods_cat.join(),
        attrs: [...this.params.attrs, ...this.params._attrs]
      });
      if(this.id) {
        await editGoods(data)
      }else{
        await addGoods(data);
      }
      this.$router.replace({
        name: "goods"
      });
    },
    async getGoodsDetails() {
      const res = await getGoodsDetails(this.id);
      console.log(res);
      const {
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics,
        attrs,
        goods_id
      } = res;
      const obj = Object.assign(this.params, 
      {
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics,
        attrs,
        goods_id,
        goods_cat: res.goods_cat.split(",")
      });
      this.params = obj;
    }
  },
  watch: {
    async index(val) {
      if (val !== 1) {
        if (this.params.goods_cat.length <= 2) {
          this.$message({
            type: "error",
            message: "请选择三级分类"
          });
        } else if (val == 2) {
          const res = await this.getGoodsAttrs("many");
          this.params.attrs = res;
        } else if (val == 3) {
          const res = await this.getGoodsAttrs("only");
          this.params._attrs = res;
        }
      }
    }
  }
};
</script>
<style lang="scss">
.goods-add {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .el-form {
    height: 600px;
    overflow-y: auto;
    .el-form-item {
      .el-form-item__label {
        float: none;
        margin-bottom: 10px;
      }
      .el-form-item__content {
        margin-left: 0 !important;
      }
    }
  }
}
</style>