<template>
  <div class="goods-cat">
    <bread-crumb parent="商品管理" children="分类参数"></bread-crumb>
    <el-alert title="注意:只允许为第三级分类设置参数" type="warning" style="margin-bottom: 15px;" show-icon></el-alert>
    <el-row>
      <el-col :span="24">
        <span style="font-size: 12px;margin-right: 5px;">请选择商品分类</span>
        <el-cascader
          :options="options"
          v-model="value"
          :props="props"
          :show-all-levels="false"
          clearable
          @change="handleChange"
        ></el-cascader>
        <el-tabs v-model="activeName">
          <el-tab-pane label="动态参数" name="first">
            <el-button type="primary" :disabled="many.length <= 0" @click="addMany" size="mini">
              <span>设置动态参数</span>
            </el-button>
            <el-table :data="many" style="width: 100%">
              <el-table-column label="#" width="80" type="expand">
                <template slot-scope="props">
                  <el-tag
                    :key="tag"
                    v-for="tag in attr_vals(props.row.attr_vals)"
                    closable
                    :disable-transitions="false"
                    @close="updateGoodsCatAttrs(props.row, tag)"
                  >{{tag}}</el-tag>
                  <el-input
                    class="input-new-tag"
                    v-if="inputVisible[props.$index]"
                    v-model="inputValue[props.$index]"
                    :ref="'saveTagInput'+props.$index"
                    size="small"
                    @keyup.enter.native="handleInputConfirm(props)"
                    @blur="handleBlur(props.$index)"
                  ></el-input>
                  <el-button
                    v-else
                    class="button-new-tag"
                    size="small"
                    @click="showInput(props.$index)"
                  >+ New Tag</el-button>
                </template>
              </el-table-column>
              <el-table-column prop="attr_name" label="属性名称" width="180"></el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-button size="mini" @click="handleOM('many',scope.row)">
                    <i class="el-icon-edit"></i>
                  </el-button>
                  <el-button size="mini" type="danger" plain @click="deleteMany(scope.row.attr_id)">
                    <i class="el-icon-delete"></i>
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
          <el-tab-pane label="静态参数" name="second">
            <el-button type="primary" :disabled="only.length <= 0" @click="addOnly" size="mini">
              <span>设置静态参数</span>
            </el-button>
            <el-table :data="only" style="width: 100%">
              <el-table-column type="index" label="#" width="80"></el-table-column>
              <el-table-column prop="attr_name" label="属性名称" width="180"></el-table-column>
              <el-table-column prop="attr_vals" label="属性值" width="180"></el-table-column>
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-button size="mini" @click="handleOM('only',scope.row)">
                    <i class="el-icon-edit"></i>
                  </el-button>
                  <el-button
                    size="mini"
                    type="danger"
                    plain
                    @click="deleteMany(scope.row.attr_id,scope.row.attr_sel)"
                  >
                    <i class="el-icon-delete"></i>
                  </el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-tab-pane>
        </el-tabs>
      </el-col>
    </el-row>
    <el-dialog title="添加属性" :visible.sync="dialogOMVisible">
      <el-form :model="OMobj">
        <el-form-item label="参数名称" >
          <el-input v-model="OMobj.attr_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="参数值" >
          <el-input v-model="OMobj.attr_vals" ></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogOMVisible = false">取 消</el-button>
        <el-button type="primary" @click="addOMs">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import BreadCrumb from "../../components/BreadCrumb";
import Vue from "vue";
import {
  getGoodsCategories,
  getGoodsAttrs,
  updateGoodsCatAttrs,
  deleteCatAttrs,
  addOm,
  addOnmay
} from "../../http/apis";
export default {
  name: "goods-cat",
  components: {
    BreadCrumb
  },
  data() {
    return {
      options: [],
      props: {
        expandTrigger: "hover",
        value: "cat_id",
        label: "cat_name"
      },
      activeName: "first",
      value: [],
      only: [],
      many: [],
      inputVisible: [],
      inputValue: [],
      dialogOMVisible: false,
      OMobj:{
        attr_name:'',
        attr_sel: '',
        attr_vals: ''
      }
    };
  },
  created() {
    this.getGoodsCategories();
  },
  methods: {
    async getGoodsCategories() {
      this.options = await getGoodsCategories();
    },
    async getGoodsAttrs(id, sel) {
      const res = await getGoodsAttrs(id, sel);

      if (sel == "only") {
        this.only = res;
        return;
      }
      this.many = res;
    },
    //编辑提交参数
    async updateGoodsCatAttrs(obj, tag) {
      const { attr_name, attr_sel, attr_vals } = obj;
      let arr = !attr_vals ? [] : attr_vals.split(",");
      arr.splice(arr.indexOf(tag), 1);
      await updateGoodsCatAttrs(this.value[2], obj.attr_id, {
        attr_name,
        attr_sel,
        attr_vals: arr.join()
      });

      obj = Object.assign(obj, {
        attr_vals: arr.join()
      });
    },
    //添加动态参数或静态属性
    async addOm(obj) {
      await addOm(this.value[2], obj);
    },
    handleChange(val) {
      if (val.length < 3) {
        this.only = [];
        this.many = [];
        return;
      }
      this.getGoodsAttrs(val[2], "only");
      this.getGoodsAttrs(val[2], "many");
    },
    attr_vals(arr) {
      return arr.split(",");
    },
    async handleInputConfirm(obj) {
      let val = this.inputValue[obj.$index];
      if (!val) {
        this.$message({
          message: "请输入属性"
        });
        return;
      }
      const { attr_name, attr_sel, attr_vals } = obj.row;
      let arr = !attr_vals ? [] : attr_vals.split(",");
      arr.push(val);
      await updateGoodsCatAttrs(this.value[2], obj.row.attr_id, {
        attr_name,
        attr_sel,
        attr_vals: arr.join()
      });
      obj.row = Object.assign(obj.row, {
        attr_vals: arr.join()
      });
      this.$set(this.inputValue, obj.$index, "");
      this.$set(this.inputVisible, obj.$index, false);
    },
    showInput(index) {
      this.$set(this.inputVisible, index, true);
      this.$nextTick(_ => {
        this.$refs["saveTagInput" + index].$refs.input.focus();
      });
    },
    handleBlur(index) {
      this.$set(this.inputVisible, index, false);
      this.$set(this.inputValue, index, "");
    },
    //删除动态参数
    deleteMany(id, obj) {
      console.log(id);
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteCatAttrs(id);
          if (obj == "only") {
            this.getGoodsAttrs(this.value[2], "only");
          } else if (obj == "many") {
            this.getGoodsAttrs(this.value[2], "many");
          }

          this.$message({
            type: "success",
            message: "删除成功!"
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //删除参数
    async deleteCatAttrs(attrid) {
      await deleteCatAttrs(this.value[2], attrid);
    },
    //设置动态参数
    addMany() {
      this.dialogOMVisible = true
      this.OMobj.attr_sel = 'many'
    },
    addOnly() {
      this.dialogOMVisible = true
      this.OMobj.attr_sel = 'only'
    },
    addOMs() {
      this.dialogOMVisible = false
      this.addOm(this.OMobj)
      this.handleChange(this.value);
    },
    handleOM(str,obj) {
      this.dialogOMVisible = true
      this.OMobj = Object.assign(this.OMobj, {
        attr_name: obj.attr_name,
        attr_sel: str,
        attr_vals: obj.attr_vals
      })
    }
  }
};
</script>
<style lang="scss">
.goods-cat {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .el-tag + .el-tag {
    margin-left: 10px;
  }
  .button-new-tag {
    margin-left: 10px;
    height: 32px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
}
</style>