<template>
  <div class="rights">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>权限列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-table :data="tableData" stripe style="width: 100%;height: 450px;">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="authName" label="权限名称" width="180"></el-table-column>
      <el-table-column prop="path" label="路径" width="180"></el-table-column>
      <el-table-column prop="level" label="层级"></el-table-column>
    </el-table>
  </div>
</template>
<script>
import { allDist } from "../../http/apis"
export default {
  data() {
    return {
      tableData: []
    };
  },
  methods: {
    async allDist() {
      const res = await allDist('list')
      this.tableData = res
      console.log(this.tableData)
    },
  },
  created() {
    this.allDist()
  }
};
</script>
<style lang="scss">
.rights {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .el-breadcrumb{
    margin-bottom: 15px;
  }
  .el-table{
    .el-table__body-wrapper{
      height: 401px;
      overflow-y: auto;
    }
  }
}
</style>