<template>
  <div class="roles">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>权限管理</el-breadcrumb-item>
      <el-breadcrumb-item>角色列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-button type="primary" style="margin-top:15px" @click.native="dialogFormVisible=true">添加角色</el-button>
    <el-table :data="rolesData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-row v-for="(item,index) in scope.row.children" :key="index">
            <el-col :span="4">
              <el-tag
                closable
                @close="deleteRights(scope.row.id, item.id, scope.$index, index)"
              >{{item.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="(_item,_index) in item.children" :key="_index">
                <el-col :span="6">
                  <el-tag
                    closable
                    @close="deleteRights(scope.row.id, _item.id,scope.$index, index, _index)"
                    type="success"
                  >{{_item.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag
                    closable
                    v-for="(__item,__index) in _item.children"
                    :key="__index"
                    type="warning"
                    @close="deleteRights(scope.row.id, __item.id,scope.$index, index, _index, __index)"
                  >{{__item.authName}}</el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column label="#" type="index" width="50"></el-table-column>
      <el-table-column label="角色列表" prop="roleName"></el-table-column>
      <el-table-column label="角色描述" prop="roleDesc"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            size="small"
            circle
            @click.native="handleEdUser(scope.row)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            size="small"
            circle
            @click.native="distRolesAut(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            size="small"
            circle
            @click.native="handleDeleteRole(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog title="添加角色" :visible.sync="dialogFormVisible" width="600px">
      <el-form
        :model="rolesForm"
        :rules="rolesFormRules"
        ref="rolesForm"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="rolesForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="rolesForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="handleRoles">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="编辑角色" :visible.sync="editDialogVisible">
      <el-form
        :model="edUser"
        :rules="rules"
        ref="edUser"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="edUser.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述">
          <el-input v-model="edUser.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click.native="handleSubuser">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配权限" :visible.sync="rolesAut">
      <el-tree
        :data="dataAut"
        show-checkbox
        ref="tree"
        node-key="id"
        :default-expand-all="true"
        :default-checked-keys="arr"
        :props="defaultProps"
      ></el-tree>
      <div slot="footer" class="dialog-footer">
        <el-button @click="rolesAut = false">取 消</el-button>
        <el-button type="primary" @click.native="handleRolesdist">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  addRoles,
  getRolesLists,
  deleteRights,
  edSubuser,
  deleteRole,
  distRoles,
  allDist
} from "../../http/apis";
export default {
  data() {
    return {
      dataAut: [],
      arr: [],
      qxroleId: "",
      defaultProps: {
        children: "children",
        label: "authName"
      },
      rolesData: [],
      dialogFormVisible: false,
      rolesForm: {
        roleName: "",
        roleDesc: ""
      },
      rolesFormRules: {
        roleName: [
          {
            required: true,
            message: "请输入角色名称",
            trigger: "blur"
          }
        ],
        roleDesc: []
      },
      rules: {
        roleName: [
          {
            required: true,
            message: "请输入角色名称",
            trigger: "blur"
          }
        ]
      },
      editDialogVisible: false,
      edUser: {
        id: "",
        roleName: "",
        roleDesc: ""
      },
      rolesAut: false
    };
  },
  methods: {
    async addRoles() {
      return await addRoles(this.rolesForm);
    },
    handleRoles() {
      this.$refs.rolesForm.validate(async valite => {
        if (valite) {
          await this.addRoles();
          this.dialogFormVisible = false;
          this.$refs.rolesForm.resetFields();
          this.getRolesLists();
        } else {
          return false;
        }
      });
    },
    async getRolesLists() {
      const res = await getRolesLists();
      this.rolesData = res;
    },
    async deleteRights(roleId, rightId, index1, index2, index3, index4) {
      await deleteRights(roleId, rightId);
      if (arguments.length == 4) {
        this.rolesData[index1].children.splice(index2, 1);
      } else if (arguments.length == 5) {
        this.rolesData[index1].children[index2].children.splice(index3, 1);
      } else {
        this.rolesData[index1].children[index2].children[
          index3
        ].children.splice(index4, 1);
      }
    },
    async handleSubuser() {
      await this.edSubuser();
      this.editDialogVisible = false;
    },
    async edSubuser() {
      await edSubuser(this.edUser);
      this.getRolesLists();
    },
    async handleDeleteRole(id) {
      try {
        await this.$confirm("此操作将永久删除该角色, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteRole(id);
      } catch (err) {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    async deleteRole(id) {
      await deleteRole(id);
      this.getRolesLists();
    },
    async distRoles(roleId, rids) {
      await distRoles(roleId, rids);
    },
    async handleRolesdist() {
      let keys = this.$refs.tree
        .getCheckedKeys()
        .concat(this.$refs.tree.getHalfCheckedKeys())
        .join(",");
      console.log(keys);
      await this.distRoles(this.qxroleId, keys);

      this.getRolesLists();
      this.rolesAut = false;
    },
    handleEdUser(obj) {
      this.editDialogVisible = true;
      const { id, roleName, roleDesc } = obj;
      this.edUser = Object.assign(this.edUser, {
        id,
        roleName,
        roleDesc
      });
    },
    async distRolesAut(obj) {

     const res = await allDist('tree')
     console.log(res)
     this.dataAut = res
      this.arr = [];
      obj.children.forEach(item => {
        item.children.forEach(_item => {
          _item.children.forEach(__item => {
            this.arr.push(__item.id);
          });
        });
      });

      this.qxroleId = obj.id;
      this.rolesAut = true;
    }
  },

  created() {
    this.getRolesLists();
  }
};
</script>
<style lang="scss">
.roles {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .demo-table-expand {
    font-size: 0;
  }
  .demo-table-expand label {
    width: 90px;
    color: #99a9bf;
  }
  .demo-table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
  }
}
</style>