<template>
  <div class="index">
    <el-container style="height: 100vh; border: 1px solid #eee;">
      <el-aside 
      width="200px"
      :class="{'ChangeWidth':isCollapse}"
      style="background-color:rgb(0, 21, 41)" >
        <h1 class="title">后台管理系统</h1>
        <i class="el-icon-star-off ico"></i>
        <el-menu 
        router 
        active-text-color="#fff"
        default-active="defaultActive"
        background-color="rgb(0, 21, 41)"
        :collapse="isCollapse">
          <el-submenu
            :index="''+index"
            v-for="(item,index) in menus"
            :key="index"
            style="background-color:rgb(0, 21, 41);"
          >

            <template slot="title" style="color:rgb(153, 153, 153);" v-if="item.path==='users'">
              <i class="el-icon-user-solid"></i>
              <span slot="title">{{item.authName}}</span>
            </template>
            <template slot="title" style="color:rgb(153, 153, 153);" v-if="item.path==='rights'">
              <i class="el-icon-more"></i>
              <span slot="title">{{item.authName}}</span>
            </template>
            <template slot="title" style="color:rgb(153, 153, 153);" v-if="item.path==='goods'">
              <i class="el-icon-s-goods"></i>
              <span slot="title">{{item.authName}}</span>
            </template>
            <template slot="title" style="color:rgb(153, 153, 153);" v-if="item.path==='orders'">
              <i class="el-icon-s-order"></i>
              <span slot="title">{{item.authName}}</span>
            </template>
            <template slot="title" style="color:rgb(153, 153, 153);" v-if="item.path==='reports'">
              <i  class="el-icon-s-data"></i>
              <span slot="title">{{item.authName}}</span>
            </template>
            <el-menu-item
              v-for="(_item,_index) in item.children"
              :index="'/index/'+_item.path"
              :key="_index"
              style="background-color:rgb(0, 21, 41); color:#fff"
            >{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>

      <el-container>
        <el-header style="text-align: right; font-size: 12px">
          <el-radio-group v-model="isCollapse">
            <el-radio-button :label="false">展开</el-radio-button>
            <el-radio-button :label="true">收起</el-radio-button>
          </el-radio-group>
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="logOut">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{$store.state.username}}</span>
        </el-header>
        <el-main style="background-color:#eee;">
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<script>
import { getMenus } from "@/http/apis";
export default {
  data() {
    return {
      menus: [],
      defaultActive: '',
      isCollapse: false
    };
  },
  watch: {
    $route:{
      handler(val){
        this.defaultActive=val.path
      },
      immediate: true
    }
  },
  methods: {
    logOut() {
      this.$store.commit('initState')
      this.$router.push({
        name:'login'
      })
    }
  },
  mounted() {
    getMenus().then(res =>{
        this.menus=res
    })
  }
};
</script>
<style lang="scss">
.index {
   .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .ChangeWidth{
    width: 64px!important;
    &>.title{
      display: none;
    }
    &>.ico{
      background: #fff;
      position: relative;
      left: 50%;
      margin-left: -8px;
      margin-top: 20px;
    }
  }
  // .el-menu--collapse+.title{
  //   width: 200px;
  // }
  .el-menu--inline{
    .el-menu-item:hover{
      background-color: rgb(0, 11, 41)!important;
    }
  }
  .el-aside {
    h1 {
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: #fff;
    }
  }
  .el-submenu {
    .el-submenu__title {
      color: rgb(153, 153, 153);
      &:hover {
        background-color: rgb(0, 11, 41)!important;
      }
    }
  }
  .el-header {
    background-color: #fff;
    color: #333;
    line-height: 60px;
    .el-radio-group{
      float: left;
      margin-top: 10px;
      .el-radio-button{
        .el-radio-button__inner{
          border: 0;
        }
      }
    }
  }
}
</style>