<template>
  <div class="orders">
    <bread-crumb parent="订单管理" children="订单列表"></bread-crumb>
    <el-table :data="tableData.goods" stripe border style="width: 100%">
      <el-table-column type="index" label="#" width="60"></el-table-column>
      <el-table-column prop="order_number" label="订单编号" width="180"></el-table-column>
      <el-table-column prop="order_price" label="订单价格" width="80"></el-table-column>
      <el-table-column prop="trade_no" label="是否付款" width="100">
        <template slot-scope="scope">
          <el-tag type="danger">{{scope.row.trade_no}}</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="is_send" label="是否发货"></el-table-column>
      <el-table-column prop="update_time" label="下单时间">
        <template slot-scope="scope">{{scope.row.update_time | dealDate2}}</template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" @click="dialogFormVisible = true" type="primary" plain>
            <i class="el-icon-edit"></i>
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="params.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.total"
    ></el-pagination>
    <el-dialog title="修改订单地址" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="省市区/县">
          <el-cascader
            size="large"
            :options="options"
            v-model="selectedOptions"
            @change="handleChange"
          ></el-cascader>
        </el-form-item>
        <el-form-item label="详细地址">
          <el-input v-model="form.site"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import BreadCrumb from "../components/BreadCrumb";
import { regionData } from "element-china-area-data";
import { getOrders } from "../http/apis";
export default {
  name: "orders",
  components: {
    BreadCrumb
  },
  data() {
    return {
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10
      },
      tableData: [],
      form: {
        site: ''
      },
      dialogFormVisible: false,
      options: regionData,
      selectedOptions: []
    };
  },
  methods: {
    async getOrders() {
      const res = await getOrders(this.params);
      res.goods.map(item => {
        if (item.trade_no == "") {
          item.trade_no = "未付款";
        }
      });
      this.tableData = res;
    },

    handleSizeChange(val) {
      this.params.pagesize = val;
      this.getOrders();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this.getOrders();
    },
    changeOrders() {},
    handleChange (value) {
        console.log(value)
      }
  },
  created() {
    this.getOrders();
  }
};
</script>
<style lang="scss">
.orders {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  .el-form-item__content{
      display: flex;
  }
}
</style>