<template>
  <div class="reports">
    <bread-crumb parent="数据统计" children="数据报表"></bread-crumb>
    <highcharts :options="chartOptions" :highcharts="hcInstance" style="margin-top:10px"></highcharts>
    
  </div>
</template>
<script>
import Highcharts from "highcharts"
import HighchartsVue from 'highcharts-vue'
import { Chart } from "highcharts-vue"
import BreadCrumb from "../components/BreadCrumb"
import { getReports } from "../http/apis"

export default {
  name: "reports",
  components: {
    BreadCrumb,
    highcharts: Chart
  },
  data() {
    return {
      hcInstance: Highcharts,
      chartOptions: {}
    };
  },
  methods: {
    async getReports() {
      const res = await getReports();
      const _res = JSON.parse(JSON.stringify(res));
      _res.chart = {
          type: 'area'
      }
      
      _res.xAxis = {
        categories: _res.xAxis[0].data
      };
      _res.yAxis = {
        title: {
          text: ""
        },
        labels: {
          formatter: function() {
            return this.value;
          } 
        }
      };

      _res.plotOptions = {
        area: {
          stacking: "normal",
          lineColor: "#666666",
          lineWidth: 1,
          marker: {
            lineWidth: 1,
            lineColor: "#666666"
          }
        }
      };
      _res.credits = {
        enabled: false
      };
      _res.tooltip = {
        shared: true,
        valueSuffix: "millions"
      };
      _res.title = {
        text: ""
      };
      _res.series.map(item => item.type = 'area')
      this.chartOptions = _res;
    }
  },
  created() {
    this.getReports();
  }
};
</script>