<template>
  <div class="users">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form inline style="margin-top:15px;">
      <el-form-item>
        <el-input v-model="params.query" @keyup.enter.native="_getUsers">
          <el-button slot="append" icon="el-icon-search"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="dialogFormVisible = true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="obj.users" height="calc(100vh - 280px)" style="width: 100%">
      <el-table-column type="index" width="50"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
      <el-table-column prop="mobile" label="电话"></el-table-column>
      <el-table-column prop="create_time" label="创建日期">
        <template slot-scope="scope">{{scope.row.create_time | dealDate}}</template>
      </el-table-column>
      <el-table-column label="用户状态">
        <template slot-scope="scope">
          <el-switch
            v-model="scope.row.mg_state"
            @click.native="updateUserState(scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="obj">
          <el-button
            type="primary"
            icon="el-icon-edit"
            size="small"
            circle
            @click.native="showUserMsg(obj.row)"
          ></el-button>
          <el-button type="success" icon="el-icon-check" size="small" circle @click.native="handleDb(obj.row)"></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            size="small"
            circle
            @click="handleDelete(obj.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      style="margin-top:15px"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.num"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="8"
      layout="total, sizes, prev, pager, next, jumper"
      :total="obj.total"
    ></el-pagination>
    <el-dialog title="添加用户" :visible.sync="dialogFormVisible">
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="用户名" :label-width="formLabelWidth" prop="username">
          <el-input v-model="ruleForm.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" :label-width="formLabelWidth" prop="password">
          <el-input v-model="ruleForm.password"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.email"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="ruleForm.mobile"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="submitForm">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="editDialogVisible">
      <el-form
        :model="editUserForm"
        :rules="rules"
        ref="editUserForm"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="用户名" :label-width="formLabelWidth">
          <el-input v-model="editUserForm.username"></el-input>
        </el-form-item>
        <el-form-item label="电话" :label-width="formLabelWidth">
          <el-input v-model="editUserForm.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" :label-width="formLabelWidth">
          <el-input v-model="editUserForm.email"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="editDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click.native="handleEdit">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="dbDialogVisible">
      <el-form
        :model="dbUserForm"
        :rules="rules"
        ref="dbUserForm"
        label-width="100px"
        class="demo-ruleForm"
      >
        <el-form-item label="用户名" :label-width="formLabelWidth">
          <el-input v-model="dbUserForm.username"></el-input>
        </el-form-item>
        <el-form-item label="角色" :label-width="formLabelWidth">
          <el-select v-model="dbUserForm.rid" placeholder="请选择">
            <el-option :value="-1" label="请选择"></el-option>
            <el-option
              v-for="item in rolesOptions"
              :key="item.id"
              :label="item.roleName"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dbDialogVisible = false">取 消</el-button>
        <el-button type="primary" @click.native="handledb">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import {
  getUsers,
  addUsers,
  updateUserState,
  editUser,
  deleteUser,
  getUsersInfo,
  getRolesLists,
  handledb
} from "../http/apis";
export default {
  data() {
    return {
      params: {
        query: "",
        pagenum: 1,
        pagesize: 10
      },
      obj: {},
      dialogFormVisible: false,
      ruleForm: {
        username: "",
        password: "",
        email: "",
        mobile: ""
      },
      editDialogVisible: false,
      editUserForm: {
        username: "",
        email: "",
        mobile: "",
        id: ""
      },
      formLabelWidth: "80px",
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 3, max: 12, message: "长度在 3 到 12 个字符", trigger: "blur" }
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 6, max: 12, message: "不可使用特殊符号", trigger: "blur" },
          {
            required: true,
            pattern: /^[\u4e00-\u9fa5_a-zA-Z0-9.·-]+$/,
            message: "密码不支持特殊字符",
            trigger: "blur"
          }
        ]
      },
      dbDialogVisible: false,
      dbUserForm:{
        username: '',
        id: '',
        rid: ''
      },
      rolesOptions:[]
    };
  },
  methods: {
    handleSizeChange(val) {
      this.params.pagesize = val;
      this._getUsers();
    },
    handleCurrentChange(val) {
      this.params.pagenum = val;
      this._getUsers();
    },
    handleClose(done) {
      this.$confirm("添加用户")
        .then(_ => {
          done();
        })
        .catch(_ => {});
    },
    //获取用户列表
    async _getUsers() {
      const res = await getUsers(this.params);
      console.log("----", res);
      this.obj = res;
    },
    //更新用户状态
    async updateUserState(obj) {
      await updateUserState(obj.id, obj.mg_state);
      this._getUsers();
    },
    //删除用户
    async handleDelete(id) {
      /* this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deleteUser(id);
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        }); */
      try {
        await this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteUser(id);
      } catch (err) {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    async deleteUser(id) {
      await deleteUser(id);
      this._getUsers();
    },
    submitForm() {
      // const res= addUsers(this.ruleForm)
      this.http("users", "POST", this.ruleForm).then(res => {
        console.log(res);
      });

      this.dialogFormVisible = false;
    },
    //编辑用户信息按钮操作
    showUserMsg(obj) {
      this.editDialogVisible = true;
      const { username, email, mobile, id } = obj;
      this.editUserForm = Object.assign(this.editUserForm, {
        username,
        email,
        mobile,
        id
      });
    },
    //编辑用户确认操作
    async handleEdit() {
      await editUser(this.editUserForm);
      this._getUsers();
      this.editDialogVisible = false;
    },
    handleDb(obj){
      this.getRolesLists()
      this.dbDialogVisible = true
      const {username, id} = obj
      this.dbUserForm = Object.assign(this.dbUserForm,{
        username,
        id
      })
      this.getUsersInfo(this.dbUserForm.id)
    },
    //
    async getUsersInfo(id){
      const {rid} = await getUsersInfo(id)
      this.dbUserForm = Object.assign(this.dbUserForm,{
        rid
      })
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    //获取角色列表
    async getRolesLists() {
      const data = await getRolesLists()
      this.rolesOptions = data
    },
    //提交用户角色修改
    async handledb() {
      this.dbDialogVisible = false
      const {id , rid} = this.dbUserForm
      await handledb(id, rid)
      this._getUsers()
    }
  },
  created() {
    this._getUsers();
  }
};
</script>

<style  scoped>
.users {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
}
.el-dialog__body .el-form-item {
  display: block;
  margin-bottom: 22px;
}
.el-dialog__body .el-input {
  width: 100%;
}
</style>